<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="tamrin4.css">
   
</head>
<body>
    <div class="login-panel">
        <p class="description">ورود به پنل کاربری</p>
        <div class="user-container">
            <form action="register" method="post">
                <input type="text"  name="username" class="username" placeholder="نام کاربری">   
                </div>
                 <div class="pass-container">
                <input type="password" name="password" class="password" placeholder="رمز عبور">
                </div>
                <input type="submit" value="ورود" class="login-button">ورود</input>
            </form>
        <p class="description">حساب کاربری ندارید؟<a href="./signup.html" target="_blank">ثبت نام</a></p>
    </div>
</body>
</html>